<h1>プロフィール変更</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :ユーザー名 %><br />
        <%= f.text_field :username %>
      </div>

      <div class="field">
        <%= f.label :メールアドレス %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :新しいパスワード %>
        <% if @minimum_password_length %>
          <em>[<%= @minimum_password_length %>文字以上]</em>
        <% end %>
        <i>(変更したくない場合は空白)</i>
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :パスワード再確認 %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :現在のパスワード %> <i>(変更するには、現在のパスワードが必要です)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password" %>
      </div>

      <div class="actions">
        <%= f.submit "プロフィール更新", class: "btn btn-primary" %>
      </div>
    <% end %>

    <h3>アカウント削除</h3>

    <p>本当に削除しますか？ <%= button_to "アカウント削除", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
  </div>
</div>

<%= link_to "編集を破棄して戻る", :back %>
