<% provide(:title, "My Proposalとは") %>
<!DOCTYPE html>
  <div class="tab_container">
    <ul class="tab-list">
      <li class="tab box-active">概要</li>
      <li class="tab">MyProposalの使い方</li>
    </ul>
    <div class="tabbox-contents">
      <div class="tabbox box-show">
        <h1>My Proposalとは</h1>
        <div class="p-box">
          <p>ここは自分で考えた企画書をWEB上でお互いに評価し合うというサイトです。</p>
          <div class="list">  
            <p>・自分の企画が面白いかどうか色んな人に評価して欲しい</p>
            <p>・今自分の企画書に何が足りないかコメントして欲しい</p>
            <p>・他の人がどんな企画を考えているのか色々見て参考にしたい　　など</p>
          </div>
          <p> 学生、社会人問わず、様々な意見が飛び交うサイトとなっています。</p>
        </div>
      </div>
      <div class="tabbox">
        <h1>My Proposalの使い方</h1>
        <div class="how-to-use">
          <h3>①新規登録</h3>
          <p>サイトが表示されましたら、ヘッダー部にある「新規登録」かサイト下部にある「今すぐここから新規登録」ボタンをクリックします</p>
          <%= video_tag("/videos/move1.mp4", autoplay: :true, loop: :true, muted: :true, class: 'video-content') %>
        
          <h3>②登録方法</h3>
          <p>ユーザーネームとメールアドレス、パスワードを設定し、「ユーザー登録」ボタンをクリックします</p>
          <%= video_tag("/videos/move2.mp4", autoplay: :true, loop: :true, muted: :true, class: 'video-content') %>
        
          <h3>③本人確認のメール認証</h3>
          <p>入力したメールアドレス宛に本人確認メールが送信されますので、メール本文の「アカウント本登録」をクリックします</p>
          <%= image_tag src="image.png", class: 'video-content' %>
        
          <h3>④ログイン</h3>
          <p>認証メールからログイン画面に移りましたら、再度メールアドレスとパスワード入力して「ログイン」ボタンをクリックします</p>
          <%= video_tag("/videos/move3.mp4", autoplay: :true, loop: :true, muted: :true, class: 'video-content') %>

          <h3>⑤企画書投稿</h3>
          <p>投稿したい企画書を選択し、企画書のタイトルを入力して「投稿」ボタンをクリックします</p>
          <%= video_tag("/videos/move4.mp4", autoplay: :true, loop: :true, muted: :true, class: 'video-content') %>

          <h3>⑤レビュー</h3>
          <p>投稿されている企画書にはレビューすることができます</p>
          <p>星だけで評価することもできますが、積極的にコメントも残して企画書を評価し合いましょう</p>
          <%= video_tag("/videos/move5.mp4", autoplay: :true, loop: :true, muted: :true, class: 'video-content') %>
        </div>
      </div>
    </div>
  </div>
</html>