<% if user_signed_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'partial/user_info' %>
      </section>
      <section class="micropost_form">
        <%= render 'partial/proposal_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h1>企画書一覧</h1>
      <%= render 'partial/all_proposals' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <%= image_tag src="top_image.png" %>
    <h1>お見合い企画書</h1>

    <h2>
      自分が考えた企画書をSNS上で評価し合ってみませんか？
    </h2>

    <div class="flex">
      <div>
        <%= image_tag src="icon_1.png" %>
        <h2>
          自分の考えた企画を見てもらいたい
        </h2>
      </div>

      <div>
        <%= image_tag src="icon_2.png" %>
        <h2>
          企画を手軽に公開
        </h2>
      </div>

      <div class="icon">
        <%= image_tag src="icon_3.png" %>
        <h2>
          色んな人から意見をもらおう
        </h2>
      </div>
    </div>

    <%= link_to "今すぐここから新規登録", new_user_registration_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
