<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%- if controller_name != 'sessions' %>
      <%= link_to "ログインページはこちら", new_session_path(resource_name) %><br />
    <% end %>

    <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
      <%= link_to "ユーザー登録はこちら", new_registration_path(resource_name) %><br />
    <% end %>

    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
      <%= link_to "パスワードを忘れてしまった", new_password_path(resource_name) %><br />
    <% end %>

    <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
      <%= link_to "確認メールが届かない場合", new_confirmation_path(resource_name) %><br />
    <% end %>

    <%- if devise_mapping.omniauthable? %>
      <%- resource_class.omniauth_providers.each do |provider| %>
        
        <%= link_to omniauth_authorize_path(resource_name, provider), method: :post do %>
          <%= image_tag 'Twitter icon.png', :size => '50x50' %>
          <%= "#{OmniAuth::Utils.camelize(provider)}でログイン" %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
