<% provide(:title, current_user.username) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
      <span class="gravatar"><%= image_tag current_user.gravatar_url %></span>
        <%= @current_user.username %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <h1>投稿した企画書一覧</h1>
    <% if @current_user.proposals.any? %>
      <ol class="proposals">
        <%= render @proposals %>
      </ol>
      <%= paginate @proposals %>
    <% end %>
  </div>
</div>