<footer class="footer">
  <small>
    The My Proposal
    by <a href="#">Jun Ishimaru</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "My Proposalとは", about_path %></li>
      <li><%= link_to "お問い合わせ", '#' %></li>
      <li><a href="#">お知らせ</a></li>
    </ul>
  </nav>
</footer>