<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "My Proposal", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to "ホーム",   root_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              アカウント <b class="caret"></b>
            </a>
          <ul class="dropdown-menu">
            <li><%= link_to "ユーザーページ",   current_user %></li>
            <li><%= link_to 'プロフィール変更', edit_user_registration_path %></li>
            <li class="divider"></li>
              <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
            </li>
          </ul>
        <% else %>
          <li><%= link_to "新規登録", new_user_registration_path %></li>
          <li><%= link_to "ログイン", new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>