<%= form_for(@proposal) do |f| %>
  <%= render 'partial/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_field :content, placeholder: "企画書のタイトル..." %>
  </div>
  <span class="file">
    <%= f.file_field :file, accept: 'application/pdf' %>
  </span>
  <%= f.submit "投稿", class: "btn btn-primary" %>
<% end %>

<script type="text/javascript">
  $('#proposal_file').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 15) {
      alert('最大ファイルサイズは15MBです。 小さいファイルを選択してください。');
    }
  });
</script>