<h4>レビュー一覧</h4>
<% @reviews.each do |review| %>
  <div class="star-group">
    <%= image_tag current_user.gravatar_url(size: 50) %>
    <span class="user"><%= link_to review.user.username, review.user %></span>
    <div class="review-rating", id="star-view-<%= review.id %>">評価：</div>
    <span class="text">
      <%= review.text %>
    </span>
    <span class="timestamp">
      <%= time_ago_in_words(review.created_at) %>前にレビュー
      <% if current_user == review.user %>
        <%= link_to "レビューを削除", proposal_review_path(@proposal, review), method: :delete, 
                                            data: { confirm: "本当に削除しますか？" } %>
      <% end %>
    </span>
  </div>

  <script>
    $('#star-view-<%= review.id %>').raty({
      size: 38,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      half: true,
      readOnly: true,
      score: <%= review.rate %>,
    });
  </script>
<% end %>