<%= form_for [@proposal, @review] do |f| %>
  <%= render 'partial/error_messages', object: f.object %>
  <div class="star-form-group" id="star">
    <%= f.label :rate,'評価：' %>
  </div>
  <div class="field">
    <label>コメント</label>
    <%= f.text_area :text, placeholder: "コメントがなくても、評価のみでレビューできます！" %><br>
  </div>
  <%= f.submit 'レビューを投稿する', class: "btn btn-primary" %>
<% end %>

<%= link_to "ホームへ戻る", root_path %>

<script>
    $('#star').raty({
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        scoreName: 'review[rate]',
        half: true,
    });
</script>