<li id="proposal-<%= proposal.id %>">
  <%= image_tag current_user.gravatar_url(size: 50) %>
  <span class="user"><%= link_to proposal.user.username, proposal.user %></span>
  <span class="content">タイトル：<%= proposal.content %></span>
  <span class="file">
    <object data="<%= proposal.file.url %>" type="application/pdf" width="400" height="300" ></object>
  </span>
  <span class="timestamp">
    アップロード <%= time_ago_in_words(proposal.created_at) %>前
    <% if current_page?(proposal.user) %>
      <%= link_to "削除", proposal, method: :delete,
                                              data: { confirm: "本当に削除しますか？" } %>
    <% end %>
    <p><a href="/proposals/<%= proposal.id %>">この企画書をレビューする</a></p>
  </span>
</li>