<div class="row">
  <aside class="col-md-4">
    <section class="micropost_form">
      <%= render 'partial/review_form' %>
    </section>
  </aside>
  <div class="col-md-8">
  <h1><%= @proposal.content %></h1>
    <span class="review-file">
      <object data="<%= @proposal.file.url %>" type="application/pdf" width="500" height="400" ></object>
    </span></br>
    <span class="review-timestamp">
      アップロード <%= time_ago_in_words(@proposal.created_at) %>前
    </span>
      <%= render 'partial/review' %>
  </div>
</div> 

