@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  background-color: #fff;
}

.center h1 {
  margin-bottom: 10px;
}

.center img {
  width: 100%;
}

.flex {
  display: flex;
  padding: 10px;
}

.flex div {
  width: 30%;
  margin: 30px;
}

.flex img {
  margin-left: 10px;
  opacity: 0.8;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 50px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

h3 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-top: 100px;
  margin-bottom: 30px;
  font-weight: normal;
}

h4 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */
.navbar-fixed-top {
  background-color: #1A73E8;
  color: #fff;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

.row{
  margin: 0 auto;
}


/* about */

.tab_container {
  margin: 10px;
}

.tab-list {
  display: flex;
  justify-content: space-around;
  text-align: center;
  list-style: none;
}

.tab {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  border: solid 1px #19b5d19a;
  border-radius: 10px;
}

.tab-active {
  color: #FFF;
  background: #19b5d1;
  transition: all 0.2s ease-in-out;
}

.tabbox {
  display: none;
  padding: 15px;
}

.box-show {
  display: block;
  margin-left: 30px;
}

.p-box {
  font-size: 1.3em;
  margin-left: 40px;
  margin-top: 80px;
}

.list {
  margin-left: 30px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.how-to-use {
  text-align: left;
}

.video-content {
  width: 100%;
  border: solid 1px #222;
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 20px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.actions {
  margin-bottom: 20px;
}

.attention {
  margin-top: 10px;
  color: red;
}

.check_box {
  float: left;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* error message layout*/

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* proposals */

.proposals {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    font-size: 1.5em;
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    font-size: 2em;
    display: block;
    margin-left: 60px;
  }

  .file {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }

  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.file {
  margin-top: 10px;
  input {
    border: 0;
  }
}

/* review */
.review-file {
  margin-left: 80px;
}

.review-timestamp {
  margin-left: 80px;
}

.star-form-group{
  padding: 10px 0;
  font-size: 1.5em;
  margin-bottom: 10px;
  .label {
    font-size: 1.5em;
  }
}

.star-group {
  list-style: none;
  padding: 0;
  padding: 10px 0;
  border-top: 1px solid #e8e8e8;
  .user {
    font-size: 1.5em;
    margin-top: 5em;
    padding-top: 0;
  }

  .review-rating {
    font-size: 1.7em;
    display: block;
  }

  .text {
    font-size: 1.3em;
    overflow-wrap: normal;
  }

  .timestamp {
    color: $gray-light;
    display: block;
    margin-top: 20px;
    margin-left: 60px;
  }
}

.review-rating{
  font-size: 1.2em;
  margin-top: 10px;
  margin-bottom: 10px;
}
