<p>この度は、「MyProposal」に仮登録して頂きまして
誠にありがとうございます。</p>

<p>ご本人様確認のため、下記URLへアクセスし
アカウントの本登録を完了させて下さい。</p>

<p><%= link_to 'アカウントの本登録', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>※当メールは送信専用メールアドレスから配信されています。
　このままご返信いただいてもお答えできませんのでご了承ください。</p>

<p>※当メールに心当たりの無い場合は、誠に恐れ入りますが
　破棄して頂けますよう、よろしくお願い致します。</p>
