<p>メールアドレス変更完了のお知らせ</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>パスワードが変更されたことをお知らせするためにご連絡いたしました。<%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>パスワードが変更されたことをお知らせするためにご連絡いたしました。<%= @resource.email %>.</p>
<% end %>
