<p>My Proposalのログインのパスワードリセットの申請を受け付けました。</p>

<p>パスワードの再設定をご希望の場合は、以下URLをクリックし</br>
　　新しいパスワードをご登録ください。</p>

<p>※パスワードリセットの申請に心当たりがない場合は、</br>
　　　以降の対応は不要となります。</p>

<p>▼パスワードの再設定リンク先</br>
<%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>本メールに心当たりが無い場合は破棄をお願いいたします。</br>
　　送信専用メールアドレスのため、直接の返信はできません。</p>

<p>上記のリンクにアクセスして新しいパスワードを作成するまで、パスワードは変更されません.</p>
